@import '../../style/variables';

.header_container {
    width: 100%;
    height: $header-height;
    display: flex;
    flex-direction: row;
}

.header_left {
    width: $left-width;
    height: 100%;
}

.header_main {
    flex-grow: 1
}

.header_main_search {
    border: 1px solid blue;
    height: 100%;
    width: 60%;
    margin: auto;
}

.header_right {
    width: $right-width;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.header_right_menu_container {
    position: absolute;
    top: $header-height;
    float: right;
    width: $right-width;
}