@import '../../style/variables';

.leftNav {
    width: $left-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}