

.tracker-container {
    padding: 5px;
}

.tracker-domain-container {
    border: 1px solid grey;
}

.tracker-domain-query-container {
    border: 1px solid grey;
    padding-left: 20px;
}

.tracker-domain-query-bulk-textarea {
    width: 100%;
    height: 450px;
}